<!DOCTYPE html>
html(lang="en")
  include includes/head.pug
  body
  
  div(class="column has-text-centered" style="padding-top: 80px;")
    object(type="application/x-shockwave-flash" data="game/gamefiles/aqlite.swf" width="949" height="547")
